main {
    background: url(assets/home.jpeg) no-repeat;
    display: flex;    
    flex-grow: 1;
    background-size: cover;
    justify-content: center;
    align-items: center;

    min-width: 100vh;
    min-height: 100vh;
}

.thome {
    font-size: 2rem;
    color: #c29f99;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}