main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c5e5d;
    color: #c29f99;
    gap: 0.5rem;

    padding: 1rem 1rem 0rem 1rem;
    min-width: 80vh;
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-top: black solid 1px;
}

h1 {
    text-transform: uppercase;
    font-family: "Skranji", system-ui;
    font-style: normal;
    font-weight: 700;
}

form {
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    max-width: 80vh;
    min-width: 80vh;
    padding: 1rem;    
    display: flex;
    flex-direction: column;   
}

.lista {
    display: flex;
    align-self: center;
    justify-self: end;

    font-size: 1rem;
}

.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.atualizar, .cancelar {
  padding: 0.5rem 2rem;
  background-color: #5c5e5d;
  border-radius: 20rem;
  border: 0;
  font-family: "Skranji", system-ui;
  color: #c29f99;
  font-size: 1.6rem;
  margin-top: 1rem;
  max-height: none;
}

input {
    max-height: 1rem;
}